/*================================================================================

  1. Global Styles
  2. Main Container
    2.0 - Main Container
    2.1 - Card Style
    2.2 - Card 1 Container
    2.3 - Card 2 Container
    2.4 - Card 3 Container
  3. Attribution
  4. Media
    4.0 - Media Card Container
    4.1 - Media Attribution

================================================================================*/

/*================================================================================
  1. Global Styles
================================================================================*/

@import "variables";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: grid;
  font-size: 15px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  width: 100vw;
  height: 100vh;
}

/*================================================================================
  2. Main Container
================================================================================*/

/*========= 2.0 - Main Container =======================================================================*/

.main-container{
  grid-row-start: 2;
  grid-column-start: 2;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

/*========= 2.0 - Card Style =======================================================================*/

.card{
  position: relative;
  padding: 50px;
}

.card-heading{
  font-size: 2rem;
  font-family: $header-font;
  color: $background-headings-buttons;
  text-transform: uppercase;
  margin: 30px 0;
}

.description{
  font-size: 0.9rem;
  font-family: $paragraph-font;
  color: $paragraphs;
  line-height: 2;
}

.learn-btn{
  position: absolute;
  font-family: $paragraph-font;
  font-size: 1rem;
  bottom: 10%;
  text-decoration: none;
  background-color: white;
  border-radius: 50px;
  padding: 10px 20px;
  border: 2px solid white;
  &:hover{
    background-color: transparent;
    color: white;
  }
}

.btn-1{
  color: $Bright-orange;
}

.btn-2{
  color: $Dark-cyan;
}

.btn-3{
  color: $Very-dark-cyan;
}

/*========= 2.2 - Card 1 Container =======================================================================*/

.card-1-container{
  background-color: $Bright-orange;
}

/*========= 2.3 - Card 2 Container =======================================================================*/

.card-2-container{
  background-color: $Dark-cyan;
}

/*========= 2.4 - Card 3 Container =======================================================================*/

.card-3-container{
  background-color: $Very-dark-cyan;
}

/*================================================================================
  3. Attribution
================================================================================*/

.attribution{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 10px;
}

/*================================================================================
  4. Media
================================================================================*/

@media screen and (min-width:1024px) and (max-width:1600px){
  
  body{
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
  }
} 

@media screen and (max-width:1024px){

  body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
  }

  .main-container{
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: 90%;
  }

  .card-1-container{
    border-radius: 10px 10px 0 0;
  }

  .card-3-container{
    border-radius: 0 0 10px 10px;
  }

  /*========= 4.0 - Media Card Style =======================================================================*/

  .card{
    position: relative;
    padding: 50px;
  }
  
  .description{
    margin-bottom: 50px;
  }

  /*========= 4.1 - Media Attribution =======================================================================*/

  .attribution{
    position: relative;
    text-align: center;
    margin: 10px 0;
  }

}
